In [38]:
import pandas as pd

In [2]:
file = 'Resources/Purchase_data.csv'

In [40]:
#Read Purchasing file and store data into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [41]:
#PC- Display the total number of player 
count = len(purchase_data_df["SN"].value_counts())
count

576

In [42]:
total_players = pd.DataFrame({"Total Players": [count]})
total_players

   Total Players
0            576

In [43]:
#PA(Total)-Number of unique items
item_count = len(purchase_data_df["Item ID"].unique())
item_count

179

In [44]:
#PA(Total)- Average purchase price
average_price = purchase_data_df["Price"].mean()
average_price

3.0509871794871795

In [45]:
#PA(Total)- Number of purchases
purchase_count = purchase_data_df["Price"].count()
purchase_count

780

In [46]:
#PA(Total)- Total Revenue
total_purchase = purchase_data_df["Price"].sum()
total_purchase

2379.77

In [47]:
summary_df = pd.DataFrame({"Number of Unique Items": item_count,
                          "Average Price": average_price,
                          "Number of Purchases": [purchase_count],
                          "Total Revenue": total_purchase})
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [48]:
#GD- Count of players by gender           
player_table = purchase_data_df.groupby("Gender")
gender_count = player_table.nunique()["SN"]

In [49]:
#GD- Percentage of players by gender
percentage_count = gender_count/count
percentage_count

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [50]:
#Gender Demographics
gender_demographics_df = pd.DataFrame({"Total Count": gender_count, 
                                       "Percentage of Players": percentage_count*100})
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [51]:
#PA(Gender)- purchase count
purchase_count = purchase_data_df["Gender"].value_counts() 
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [61]:
#PA(Gender)- avg.purchase price
avg_price = player_table["Price"].mean()
avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [62]:
#PA(Gender)- total purchase value
total_purchase_df = purchase_data_df.groupby(["Gender"]).sum() ["Price"]
total_purchase_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [63]:
#PA(Gender)- avg. total purchase per person 
avg_total_purchase_df = total_purchase_df/gender_count
avg_total_purchase_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [64]:
#Purchasing Analysis(Gender) summary table
analysis_df = pd.DataFrame ({"Purchase Count": purchase_count,
                            "Average Purchase Price": avg_price,
                            "Total Purchase Value": total_purchase_df,
                            "Avg Total Purchase per Person": avg_total_purchase_df
                            })
analysis_df["Average Purchase Price"] = analysis_df["Average Purchase Price"].map("${:.2f}".format)
analysis_df["Avg Total Purchase per Person"] = analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [65]:
#Age Demographics- establishing bins for ages
age_bins= [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [70]:
#Categorize the existing palyers using the bin ages
purchase_data_df["Age Ranges"]= pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
purchase_data_df.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24

In [67]:
#Calculate the number and percentage by age group
age_range = purchase_data_df.groupby(["Age Ranges"])
player_age_count = age_range["SN"].nunique()

In [69]:
#Percentage by age group
age_percentage = player_age_count/count
age_percentage.head(1)

Age Ranges
<10    0.029514
Name: SN, dtype: float64

In [23]:
age_stats = pd.DataFrame({
    "Total Count": (player_age_count),
    "Percentage of Players": (age_percentage*100)
})

age_stats["Percentage of Players"] = age_stats["Percentage of Players"].map("{:.2f}%".format)
age_stats

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [24]:
#Purchasing Analysis by Age
purchase_count= age_range["Purchase ID"].count()
purchase_count.head(2)

Age Ranges
<10      23
10-14    28
Name: Purchase ID, dtype: int64

In [25]:
#Avg. by Age
avg_purchase_price = age_range["Price"].mean()
avg_purchase_price.head(2)

Age Ranges
<10      3.353478
10-14    2.956429
Name: Price, dtype: float64

In [26]:
#Total by Age Ranges
total_purchase_value = age_range["Price"].sum()
total_purchase_value.head(2)

Age Ranges
<10      77.13
10-14    82.78
Name: Price, dtype: float64

In [27]:
#Avg. Purchase per Person
avg_total_per_person = total_purchase_value/player_age_count
avg_total_per_person.head(2)

Age Ranges
<10      4.537059
10-14    3.762727
dtype: float64

In [28]:
#Purchasing Analysis DataFrame
purchasing_analysis = pd.DataFrame ({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Avg Total Purchase per Person": avg_total_per_person})
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

In [29]:
#Top Spenders Purchase Count
spender_df = purchase_data_df.groupby(["SN"])
spender_purchase_count = spender_df["Purchase ID"].count()

spender_purchase_count.head(2)

SN
Adairialis76    1
Adastirin33     1
Name: Purchase ID, dtype: int64

In [30]:
#Avg Purchase Price
spender_avg_purchase_price = spender_df["Price"].mean()
spender_avg_purchase_price.head(2)

SN
Adairialis76    2.28
Adastirin33     4.48
Name: Price, dtype: float64

In [31]:
#Total Purchase Value
spender_total_value = spender_df["Price"].sum()
spender_total_value.head(2)

SN
Adairialis76    2.28
Adastirin33     4.48
Name: Price, dtype: float64

In [32]:
#Top Spenders DataFrame
top_spenders = pd.DataFrame ({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase_price,
                             "Total Purchase Value": spender_total_value})

top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False)
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [33]:
#Most Popular Items - Purchase Count
popular_items = purchase_data_df[["Item ID", "Item Name", "Price"]]
items_gb = popular_items.groupby(["Item ID", "Item Name"])

item_purchase_count = items_gb["Price"].count()
item_purchase_count.head(1)

Item ID  Item Name
0        Splinter     4
Name: Price, dtype: int64

In [34]:
#Total Item Price
total_item_price = items_gb["Price"].sum()
total_item_price.head(1)

Item ID  Item Name
0        Splinter     5.12
Name: Price, dtype: float64

In [35]:
#Total Purchase Value
item_price = total_item_price/item_purchase_count
item_price.head(1)

Item ID  Item Name
0        Splinter     1.28
Name: Price, dtype: float64

In [36]:
#Most Popular Item DataFrame
most_popular_item = pd.DataFrame ({"Purchase Count": item_purchase_count,
                                  "Item Price": item_price,
                                  "Total Purchase Value": total_item_price})
most_popular_item = most_popular_item.sort_values(["Purchase Count"], ascending=False)
most_popular_item["Item Price"] = most_popular_item["Item Price"].map("${:.2f}".format)

most_popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

In [37]:
#Most Profitable Items
most_profitable_item = most_popular_item.sort_values(["Total Purchase Value"], ascending=False)
most_profitable_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80